body{
    margin: 0;
}
header{
    background-color: black;

}
a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.flex-container{
    display: flex;
}
.header-left{
    flex: 50%;
}
.header-right{
    flex: 50%;
    /* background-color: lightblue; */
}
ul{
    list-style-type: none;
}
li{
    display: inline;
    margin-left: 40px;
}
.red{
    color:crimson;;
}
.blue{
    color: darkblue;
}
nav{
    background-color: crimson;
}
.left-nav{
    flex: 20%;
    border-right: 2px solid black;
    text-align: center;
    background-color: white;
}
.right-nav{
    flex: 80%;
    text-align: center;
}
.slider{
    background-image: url('../images/travel1.webp');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-area{
    /* margin-top: 40px; */
    /* padding: 20px; */
}
.left-about{
    flex: 50%;
   /* padding: 20px; */
   text-align: center;
}
.right-about
{
    flex: 50%;
    /* padding: 20px; */
    background-color: aquamarine;
    text-align: left;
}
.heading{
    color: crimson;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}